.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  position: relative;
}
.freeBox__jrKgt {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  align-self: flex-end;
  margin-bottom: 0px;
  background: linear-gradient(#22222230, #22222230),
    url("./images/marketing37247971920Jpg.jpg") left 0% top 50% / cover no-repeat fixed;
  min-width: 0;
  padding: 8px;
}
.freeBox__ijUhO {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1380px;
  min-width: 0;
  padding: 180px 50px;
}
@media (max-width: 768px) {
  .freeBox__ijUhO {
    padding-bottom: 61px;
    padding-top: 60px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 746px;
  align-self: flex-end;
  background: #0000006b;
  box-shadow: 0px 4px 16px 0px #00000033;
  min-width: 0;
  padding: 30px;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__xnftp {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__xnftp > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__xnftp > :global(.__wab_flex-container) > *,
.freeBox__xnftp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xnftp > :global(.__wab_flex-container) > picture > img,
.freeBox__xnftp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
  padding-bottom: 0px;
  color: var(--token-uWzaB8ruZaqL);
  text-align: left;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 32px;
  }
}
.text__kjuMs {
  position: relative;
  height: auto;
  max-width: 731px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  width: 100%;
  margin-top: calc(5px + 16px) !important;
  color: var(--token-uWzaB8ruZaqL);
  min-width: 0;
}
@media (max-width: 768px) {
  .text__kjuMs {
    font-size: 16px;
    margin-top: calc(5px + 16px) !important;
  }
}
.freeBox__aCqp3 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__aCqp3 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__aCqp3 > :global(.__wab_flex-container) > *,
.freeBox__aCqp3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aCqp3 > :global(.__wab_flex-container) > picture > img,
.freeBox__aCqp3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button___8FuHf {
  background: var(--token-uWzaB8ruZaqL);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.button___8FuHf > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button___8FuHf > :global(.__wab_flex-container) > *,
.button___8FuHf > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button___8FuHf > :global(.__wab_flex-container) > picture > img,
.button___8FuHf
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___0EciT {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__fL1Wv {
  color: var(--token-a9Bt38K3R3bR);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__ckgh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox___6FSgQ {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 50px 8px;
}
.columns__oJhXw {
  display: flex;
  position: relative;
  flex-shrink: 1;
  flex-direction: row;
  flex-grow: 0;
  width: 1380px;
  background: none;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns__oJhXw > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
  --plsmc-rc-col-gap: 14px;
}
.columns__oJhXw > :global(.__wab_flex-container) > *,
.columns__oJhXw > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__oJhXw > :global(.__wab_flex-container) > picture > img,
.columns__oJhXw
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.columns__oJhXw > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__oJhXw > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 3 / 12);
}
.columns__oJhXw > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__oJhXw {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__oJhXw > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__oJhXw > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__dtdD7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img___6O0Dj {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 170px;
  min-width: 0;
  min-height: 0;
}
.img___6O0Dj > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img___6O0Dj {
    margin-top: 0px;
    height: 237px;
    flex-shrink: 0;
  }
}
.column__foKe1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__dt3Si {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin-top: 3px;
  min-width: 0;
  min-height: 0;
}
.img__dt3Si > picture > img {
  object-fit: cover;
}
@media (max-width: 768px) {
  .img__dt3Si {
    height: 292px;
    margin-top: 28px;
    flex-shrink: 0;
  }
}
.column__muKnm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .column__muKnm {
    padding: 11px 30px 30px;
  }
}
.freeBox__ay2LA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__ay2LA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__ay2LA > :global(.__wab_flex-container) > *,
.freeBox__ay2LA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ay2LA > :global(.__wab_flex-container) > picture > img,
.freeBox__ay2LA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2___8BaDp {
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.text__pnFgy {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  min-width: 0;
}
.freeBox___9E42U {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: flex-start;
  padding-left: 0px;
}
.freeBox___9E42U > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox___9E42U > :global(.__wab_flex-container) > *,
.freeBox___9E42U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9E42U > :global(.__wab_flex-container) > picture > img,
.freeBox___9E42U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.button__x2ZCd {
  background: var(--token-a9Bt38K3R3bR);
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: auto;
  height: 100%;
  left: auto;
  top: auto;
  align-self: center;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-height: 0;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6em;
  padding: 16px 34px;
  border: 1px solid transparent;
}
.button__x2ZCd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.button__x2ZCd > :global(.__wab_flex-container) > *,
.button__x2ZCd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button__x2ZCd > :global(.__wab_flex-container) > picture > img,
.button__x2ZCd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__jsh4H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__nbx4G {
  color: var(--token-uWzaB8ruZaqL);
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__c9XrK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.freeBox__zu7Zo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 125px 8px 8px;
}
.freeBox__gfG29 {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  min-width: 0;
}
.columns__iap5A {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__iap5A > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
}
.columns__iap5A > :global(.__wab_flex-container) > *,
.columns__iap5A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__iap5A > :global(.__wab_flex-container) > picture > img,
.columns__iap5A
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
}
.columns__iap5A > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__iap5A > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__iap5A > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .columns__iap5A {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns__iap5A > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 768px) {
  .columns__iap5A > :global(.__wab_flex-container) > *,
  .columns__iap5A > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__iap5A > :global(.__wab_flex-container) > picture > img,
  .columns__iap5A
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .columns__iap5A > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__mQ2EQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: linear-gradient(#0d4b6deb, #0d4b6deb),
    url("./images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.column__mQ2EQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .column__mQ2EQ > :global(.__wab_flex-container) {
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (max-width: 768px) {
  .column__mQ2EQ > :global(.__wab_flex-container) > *,
  .column__mQ2EQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column__mQ2EQ > :global(.__wab_flex-container) > picture > img,
  .column__mQ2EQ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.freeBox___0Avyu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox___0Avyu > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox___0Avyu > :global(.__wab_flex-container) > *,
.freeBox___0Avyu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___0Avyu > :global(.__wab_flex-container) > picture > img,
.freeBox___0Avyu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__mwHtx {
  position: relative;
  color: var(--token-uWzaB8ruZaqL);
}
.freeBox__wF9L {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-uWzaB8ruZaqL);
}
.text__yLufz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-uWzaB8ruZaqL);
  min-width: 0;
}
.column__l6Od {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#314f56e0, #314f56e0),
    url("./images/headerBg6Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__prPaB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__prPaB > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__prPaB > :global(.__wab_flex-container) > *,
.freeBox__prPaB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__prPaB > :global(.__wab_flex-container) > picture > img,
.freeBox__prPaB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__kDrbB {
  position: relative;
  color: var(--token-uWzaB8ruZaqL);
}
.freeBox__onfSe {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-uWzaB8ruZaqL);
}
.text__kxFW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  padding-top: 0px;
  color: var(--token-uWzaB8ruZaqL);
  min-width: 0;
}
.column__dtAin {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#141616ed, #141616ed),
    url("./images/handG176868E991920Jpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 30px;
}
.freeBox__lrqh2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
  padding: 8px;
}
.freeBox__lrqh2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__lrqh2 > :global(.__wab_flex-container) > *,
.freeBox__lrqh2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lrqh2 > :global(.__wab_flex-container) > picture > img,
.freeBox__lrqh2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h2__jUaVh {
  position: relative;
  color: var(--token-uWzaB8ruZaqL);
}
.freeBox___67Rtr {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 1px;
  max-width: 100%;
  margin-top: calc(0px + 20px) !important;
  align-self: flex-start;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  flex-shrink: 0;
  padding: 0px;
  border-top: 2px solid var(--token-uWzaB8ruZaqL);
}
.text__d37A1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 20px) !important;
  color: var(--token-uWzaB8ruZaqL);
  min-width: 0;
}
.freeBox__u1VrW {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--token-uWzaB8ruZaqL);
  width: 100%;
  min-width: 0;
  padding: 63px 64px 83px;
}
@media (max-width: 768px) {
  .freeBox__u1VrW {
    width: 100%;
    min-width: 0;
    padding: 42px 32px 46px;
  }
}
.freeBox__kdmKe {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1380px;
}
.freeBox__kdmKe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__kdmKe > :global(.__wab_flex-container) > *,
.freeBox__kdmKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__kdmKe > :global(.__wab_flex-container) > picture > img,
.freeBox__kdmKe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .freeBox__kdmKe {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .freeBox__kdmKe > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 768px) {
  .freeBox__kdmKe > :global(.__wab_flex-container) > *,
  .freeBox__kdmKe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__kdmKe > :global(.__wab_flex-container) > picture > img,
  .freeBox__kdmKe
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__rX6WM {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__rX6WM > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__rX6WM > :global(.__wab_flex-container) > *,
.freeBox__rX6WM > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rX6WM > :global(.__wab_flex-container) > picture > img,
.freeBox__rX6WM
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__zfsa5 {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  align-self: center;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__mv26 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__mv26 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__mv26 > :global(.__wab_flex-container) > *,
.freeBox__mv26 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mv26 > :global(.__wab_flex-container) > picture > img,
.freeBox__mv26
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__cxsYj {
  align-self: center;
  text-align: center;
}
.freeBox__mcGe8 {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__mcGe8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__mcGe8 > :global(.__wab_flex-container) > *,
.freeBox__mcGe8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__mcGe8 > :global(.__wab_flex-container) > picture > img,
.freeBox__mcGe8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox__tgLd1 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.freeBox__tgLd1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__tgLd1 > :global(.__wab_flex-container) > *,
.freeBox__tgLd1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tgLd1 > :global(.__wab_flex-container) > picture > img,
.freeBox__tgLd1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__xm6Nj {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text___9YPeq {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: var(--token-a9Bt38K3R3bR);
  font-family: "Inter", sans-serif;
}
.text__p7ZrZ {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  text-align: center;
  font-family: "Inter", sans-serif;
}
.freeBox__onMsg {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__onMsg > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__onMsg > :global(.__wab_flex-container) > *,
.freeBox__onMsg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__onMsg > :global(.__wab_flex-container) > picture > img,
.freeBox__onMsg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__wVfB9 {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.img__wVfB9 > picture > img {
  object-fit: cover;
}
.freeBox__xx8Au {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__xx8Au > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__xx8Au > :global(.__wab_flex-container) > *,
.freeBox__xx8Au > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xx8Au > :global(.__wab_flex-container) > picture > img,
.freeBox__xx8Au
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__f3Sfh {
  text-align: center;
}
.freeBox__fp5Kt {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__fp5Kt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__fp5Kt > :global(.__wab_flex-container) > *,
.freeBox__fp5Kt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fp5Kt > :global(.__wab_flex-container) > picture > img,
.freeBox__fp5Kt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__i9EPt {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.freeBox__i9EPt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox__i9EPt > :global(.__wab_flex-container) > *,
.freeBox__i9EPt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__i9EPt > :global(.__wab_flex-container) > picture > img,
.freeBox__i9EPt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__bBtXz {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text___3Sjoq {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-a9Bt38K3R3bR);
  text-align: center;
}
.text__x7QsR {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox__laJ4Q {
  display: flex;
  flex-direction: column;
  position: relative;
  background: #f4f4f4;
  width: 100%;
  box-shadow: none;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
}
.freeBox__laJ4Q > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__laJ4Q > :global(.__wab_flex-container) > *,
.freeBox__laJ4Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__laJ4Q > :global(.__wab_flex-container) > picture > img,
.freeBox__laJ4Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__bucV5 {
  position: relative;
  left: auto;
  top: auto;
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 50%;
}
.freeBox__hJHcW {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__hJHcW > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hJHcW > :global(.__wab_flex-container) > *,
.freeBox__hJHcW > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hJHcW > :global(.__wab_flex-container) > picture > img,
.freeBox__hJHcW
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nuncu {
  text-align: center;
}
.freeBox__bzx9 {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__bzx9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__bzx9 > :global(.__wab_flex-container) > *,
.freeBox__bzx9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__bzx9 > :global(.__wab_flex-container) > picture > img,
.freeBox__bzx9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.freeBox___3Zw14 {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox___3Zw14 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.freeBox___3Zw14 > :global(.__wab_flex-container) > *,
.freeBox___3Zw14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3Zw14 > :global(.__wab_flex-container) > picture > img,
.freeBox___3Zw14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 4px;
}
.freeBox__vzTmK {
  display: flex;
  position: relative;
  flex-direction: column;
  height: auto;
}
.text___9Ix0D {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: var(--token-a9Bt38K3R3bR);
  text-align: center;
}
.text__t4UHg {
  font-size: 16px;
  color: #05050599;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  text-align: center;
}
.freeBox___5Morj {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/handG176868E991920Jpg.jpg") right 0% top 50% / cover no-repeat fixed;
  min-width: 0;
  padding: 8px;
}
.freeBox__ajXsx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 588px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .freeBox__ajXsx {
    height: 278px;
  }
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
.footerMain:global(.__wab_instance) {
  position: relative;
  align-self: auto;
}
