.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 2px 16px 0px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .header {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .header > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.header__lj15N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.aboutUsBanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("./images/linkedinSalesSolutions46Bom4LObsAUnsplashjpg.jpg") bottom 60% right 0px / cover no-repeat fixed;
  margin-bottom: 0px;
  align-self: flex-start;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 768px) {
  .aboutUsBanner {
    padding-top: 61px;
    padding-bottom: 61px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__dpigh {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__dpigh > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__dpigh > :global(.__wab_flex-container) > *,
.freeBox__dpigh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__dpigh > :global(.__wab_flex-container) > picture > img,
.freeBox__dpigh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.h1 {
  padding-top: 0px;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 40px;
  }
}
.text___2ULmc {
  position: relative;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
  color: var(--token-uWzaB8ruZaqL);
}
@media (max-width: 768px) {
  .text___2ULmc {
    font-size: 18px;
  }
}
.ourTeamSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 50px 8px;
}
@media (max-width: 768px) {
  .ourTeamSection {
    padding-bottom: 21px;
    height: auto;
    margin: 0px;
  }
}
.columns {
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  width: 1380px;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___0Kr9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
@media (max-width: 768px) {
  .column___0Kr9 {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.h2__epWb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 13px;
  padding-bottom: 13px;
  text-align: center;
  min-width: 0;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.row1 {
  display: flex;
  position: relative;
  width: 100%;
  height: 1117px;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.row1 > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.row1 > :global(.__wab_flex-container) > *,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.row1 > :global(.__wab_flex-container) > picture > img,
.row1 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 30px;
  margin-top: 30px;
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.row1 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .row1 {
    flex-direction: row;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 768px) {
  .row1 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 0;
  }
}
@media (max-width: 768px) {
  .row1 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__it5Ua {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__uUPn:global(.__wab_instance) {
  position: relative;
}
.h3__hjRu {
  color: #ffffff;
}
.link__v4MYf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__gefg5 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.link__ayvN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__tFcbg {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  align-self: flex-start;
  height: 1em;
}
.link___4VeZd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__nztS8 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.column__gai4K {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__bLnkn:global(.__wab_instance) {
  position: relative;
}
.h3__uTtyo {
  color: #ffffff;
}
.link__qurA {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__lDi7 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.link__cTnMb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__ef81D {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  align-self: flex-start;
  height: 1em;
}
.link___2IAFu {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___6HOFi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.column__b0Kb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard___1Qp7Z:global(.__wab_instance) {
  position: relative;
}
.h3__mloXp {
  color: #ffffff;
}
.link__cd39 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__tXprb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.link__cmlu5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__sSGuV {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  align-self: flex-start;
  height: 1em;
}
.link__nNbd6 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__f8YaU {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.column___8VvIu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard___9K3MU:global(.__wab_instance) {
  position: relative;
}
.h3__zemkm {
  color: #ffffff;
}
.link__x9Vsf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__xmvrn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.link__hSup {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__ecFyz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  align-self: flex-start;
  height: 1em;
}
.link__bR2Gf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__hwQ6I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.column___1DrxE {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__w8Hjb:global(.__wab_instance) {
  position: relative;
}
.h3___83Vt4 {
  color: #ffffff;
}
.link___2Epf3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__nQQ7 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.link__regtK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg___9HxPs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  align-self: flex-start;
  height: 1em;
}
.link__wHufx {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__zBToH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.column__pGmcp {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.personCard__sRPzz:global(.__wab_instance) {
  position: relative;
}
.h3__b0TR2 {
  color: #ffffff;
}
.link__yZanr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__tDiFv {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.link___3SBk {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__nXpJ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  align-self: flex-start;
  height: 1em;
}
.link__gdIs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.svg__anQDc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-uWzaB8ruZaqL);
  height: 1em;
}
.freeBox__qEEyY {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #eeeeee;
  width: 100%;
  min-width: 0;
  padding: 0px 64px 68px;
}
@media (max-width: 768px) {
  .freeBox__qEEyY {
    width: 100%;
    min-width: 0;
    padding: 10px 32px 28px;
  }
}
.freeBox___01QjL {
  display: flex;
  position: relative;
  flex-direction: row;
  align-self: center;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox___01QjL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___01QjL > :global(.__wab_flex-container) > *,
.freeBox___01QjL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___01QjL > :global(.__wab_flex-container) > picture > img,
.freeBox___01QjL
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
  margin-top: 32px;
}
@media (max-width: 768px) {
  .freeBox___01QjL {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 0;
  }
}
@media (max-width: 768px) {
  .freeBox___01QjL > :global(.__wab_flex-container) {
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (max-width: 768px) {
  .freeBox___01QjL > :global(.__wab_flex-container) > *,
  .freeBox___01QjL > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___01QjL > :global(.__wab_flex-container) > picture > img,
  .freeBox___01QjL
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__lyCd {
  display: flex;
  flex-direction: column;
  position: relative;
  background: none;
  box-shadow: none;
  align-self: flex-start;
  max-width: 100%;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 63px 24px 24px;
}
.freeBox__lyCd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__lyCd > :global(.__wab_flex-container) > *,
.freeBox__lyCd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lyCd > :global(.__wab_flex-container) > picture > img,
.freeBox__lyCd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__accN3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.freeBox__accN3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__accN3 > :global(.__wab_flex-container) > *,
.freeBox__accN3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__accN3 > :global(.__wab_flex-container) > picture > img,
.freeBox__accN3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.h2__hz8Qt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 18px;
  min-width: 0;
}
.text__iiTrO {
  align-self: flex-start;
  max-width: 807px;
  padding-right: 0px;
  padding-bottom: 0px;
  width: 100%;
  min-width: 0;
}
.freeBox__fu56F {
  display: flex;
  position: relative;
  flex-direction: row;
  top: auto;
  left: auto;
  width: 100%;
  min-width: 0;
}
.freeBox__fu56F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__fu56F > :global(.__wab_flex-container) > *,
.freeBox__fu56F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fu56F > :global(.__wab_flex-container) > picture > img,
.freeBox__fu56F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.serviceRow {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  min-height: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 20px 0px 8px;
}
.serviceRow > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  min-height: 0;
  margin-left: calc(0px - 30px);
  width: calc(100% + 30px);
  --plsmc-rc-col-gap: 30px;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.serviceRow > :global(.__wab_flex-container) > *,
.serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.serviceRow > :global(.__wab_flex-container) > picture > img,
.serviceRow
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 30px;
  margin-top: 30px;
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.serviceRow > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .serviceRow {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .serviceRow > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(0px - 15px);
    height: calc(100% + 15px);
  }
}
@media (max-width: 768px) {
  .serviceRow > :global(.__wab_flex-container) > *,
  .serviceRow > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .serviceRow > :global(.__wab_flex-container) > picture > img,
  .serviceRow
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 15px;
  }
}
@media (max-width: 768px) {
  .serviceRow > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__i4X5S {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue___4IZe4:global(.__wab_instance) {
  position: relative;
}
.column__zri9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue___7KwCq:global(.__wab_instance) {
  position: relative;
}
.column__imAvf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__hsw07:global(.__wab_instance) {
  position: relative;
}
.column__mgLri {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__zwOlu:global(.__wab_instance) {
  position: relative;
}
.column__eudM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__ipUh:global(.__wab_instance) {
  position: relative;
}
.column___77MJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  padding: 30px;
}
.serviceValue__dbVh:global(.__wab_instance) {
  position: relative;
}
.freeBox__tzxMg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 768px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
