.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 16px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .root {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__xcgUr {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__xcgUr > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__xcgUr > :global(.__wab_flex-container) > *,
.freeBox__xcgUr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xcgUr > :global(.__wab_flex-container) > picture > img,
.freeBox__xcgUr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .freeBox__xcgUr {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .freeBox__xcgUr > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 768px) {
  .freeBox__xcgUr > :global(.__wab_flex-container) > *,
  .freeBox__xcgUr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xcgUr > :global(.__wab_flex-container) > picture > img,
  .freeBox__xcgUr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.link___0FsjL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  margin-right: 0px;
  padding: 0px;
}
.img {
  object-fit: contain;
  width: 100%;
  height: 78px;
  object-position: left 50%;
  max-width: 78px;
  min-width: 0;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: contain;
  object-position: left 50%;
}
.freeBox___4YwYc {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___4YwYc > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___4YwYc > :global(.__wab_flex-container) > *,
.freeBox___4YwYc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___4YwYc > :global(.__wab_flex-container) > picture > img,
.freeBox___4YwYc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (max-width: 768px) {
  .freeBox___4YwYc > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (max-width: 768px) {
  .freeBox___4YwYc > :global(.__wab_flex-container) > *,
  .freeBox___4YwYc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___4YwYc > :global(.__wab_flex-container) > picture > img,
  .freeBox___4YwYc
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.aboutUs {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.aboutUs > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.aboutUs > :global(.__wab_flex-container) > *,
.aboutUs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.aboutUs > :global(.__wab_flex-container) > picture > img,
.aboutUs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__uoQjd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__hKeQf {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__ivm3O {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__lr47 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__lr47 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__lr47 > :global(.__wab_flex-container) > *,
.link__lr47 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__lr47 > :global(.__wab_flex-container) > picture > img,
.link__lr47
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg___8BEi {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__iwKay {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__xSztr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__eq2If {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__eq2If > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__eq2If > :global(.__wab_flex-container) > *,
.link__eq2If > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__eq2If > :global(.__wab_flex-container) > picture > img,
.link__eq2If
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__wuYwR {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text__qtnJi {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__y65MQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__yvN76 {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__yvN76 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__yvN76 > :global(.__wab_flex-container) > *,
.link__yvN76 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__yvN76 > :global(.__wab_flex-container) > picture > img,
.link__yvN76
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__qu0MK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.text___9Xl2O {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
.svg__ayAvK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.link__rl4QZ {
  position: relative;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.5s;
  border-radius: 6px;
  padding: 10px 16px;
  border: 1px solid transparent;
}
.link__rl4QZ > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.link__rl4QZ > :global(.__wab_flex-container) > *,
.link__rl4QZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__rl4QZ > :global(.__wab_flex-container) > picture > img,
.link__rl4QZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__iMpbs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
.contact {
  font-weight: 500;
  color: #05050599;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
}
.svg__tSpe7 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #05050599;
  flex-shrink: 0;
}
