.root {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: linear-gradient(#22222299, #22222299),
    url("./images/pexelsAndreaPiacquadio789822Jpg.jpg") right 0px top 50% / cover no-repeat fixed;
  margin-bottom: 0px;
  min-width: 0;
  padding: 177px 32px 179px;
}
@media (max-width: 768px) {
  .banner {
    padding-bottom: 56px;
    padding-top: 50px;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1080px;
  align-self: center;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox___3X4I {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox___3X4I > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___3X4I > :global(.__wab_flex-container) > *,
.freeBox___3X4I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3X4I > :global(.__wab_flex-container) > picture > img,
.freeBox___3X4I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (max-width: 768px) {
  .h1 {
    font-size: 30px;
    padding-bottom: 0px;
  }
}
.clientsSection5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: relative;
  margin-bottom: 0px;
  min-width: 0;
  padding: 47px 16px 20px;
}
.clientsSection5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.clientsSection5 > :global(.__wab_flex-container) > *,
.clientsSection5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.clientsSection5 > :global(.__wab_flex-container) > picture > img,
.clientsSection5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .clientsSection5 {
    width: 100%;
    min-width: 0;
    padding: 32px;
  }
}
@media (max-width: 768px) {
  .clientsSection5 > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__hzKhg {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  max-width: 1380px;
  background: none;
  padding-top: 0px;
  padding-bottom: 0px;
  min-width: 0;
}
.freeBox__hzKhg > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__hzKhg > :global(.__wab_flex-container) > *,
.freeBox__hzKhg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hzKhg > :global(.__wab_flex-container) > picture > img,
.freeBox__hzKhg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (max-width: 768px) {
  .freeBox__hzKhg {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .freeBox__hzKhg > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (max-width: 768px) {
  .freeBox__hzKhg > :global(.__wab_flex-container) > *,
  .freeBox__hzKhg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__hzKhg > :global(.__wab_flex-container) > picture > img,
  .freeBox__hzKhg
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.columns__fBgmn {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px 42px 8px 36px;
}
.columns__fBgmn > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
@media (max-width: 768px) {
  .columns__fBgmn {
    padding: 0px;
  }
}
.column__rQb9P {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: var(--token-uWzaB8ruZaqL);
  flex-wrap: wrap;
  align-content: center;
  min-width: 0;
  padding: 26px 26px 35px;
}
.text___92Id2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 857px;
  text-align: center;
  min-width: 0;
}
@media (max-width: 768px) {
  .text___92Id2 {
    font-size: 15px;
  }
}
.column__uYaCl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px 8px 33px;
}
.columns__wyA3L {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__wyA3L > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.columns__wyA3L > :global(.__wab_flex-container) > *,
.columns__wyA3L > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__wyA3L > :global(.__wab_flex-container) > picture > img,
.columns__wyA3L
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.columns__wyA3L > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 7 / 12);
}
.columns__wyA3L > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 5 / 12);
}
@media (max-width: 768px) {
  .columns__wyA3L {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .columns__wyA3L > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .columns__wyA3L > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__whLvm {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  background: linear-gradient(#292c2cd9, #292c2cd9),
    url("./images/bgHerojpg.jpg") top 50% left 50% / cover repeat;
  min-width: 0;
  padding: 8px;
}
.formWrapper {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 768px) {
  .formWrapper {
    padding: 0px;
  }
}
.columns__tvHu1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__tvHu1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tvHu1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__tvHu1 {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .columns__tvHu1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___9ADa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__xRg9 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uWzaB8ruZaqL);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__h3El3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__kqvI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__zGHos {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uWzaB8ruZaqL);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name2:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__iNqkG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__jWJly {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__yIcOz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__yIcOz > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__yIcOz > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (max-width: 768px) {
  .columns__yIcOz {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .columns__yIcOz > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__jgRQl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__depWd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uWzaB8ruZaqL);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__fljSf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___7WWkM {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__mhsrC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__niVqG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uWzaB8ruZaqL);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.textInput__iX6W:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg__kEzig {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__hWf3W {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__tx1Nm {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__tx1Nm > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__rEDtI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__vy9QQ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uWzaB8ruZaqL);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.name4:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  height: 45px;
  flex-shrink: 0;
}
.svg___9Gh1G {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__b3Hu2 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.columns__xyJCo {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.columns__xyJCo > :nth-child(1n + 1) {
  width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
}
.column__vpY3O {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__eyVW {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-uWzaB8ruZaqL);
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  min-width: 0;
}
.textarea {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-uWzaB8ruZaqL);
  margin-bottom: 0px;
  padding-bottom: 25px;
  min-width: 0;
}
.freeBox__jPdx3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 22px;
  align-self: auto;
  min-width: 0;
  padding: 8px;
}
.button:global(.__wab_instance) {
  max-width: 100%;
}
.svg__x1F54 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.text__w9W7Y {
  color: var(--token-a9Bt38K3R3bR);
}
.root .text__w9W7Y:hover {
  color: var(--token-a9Bt38K3R3bR);
}
.svg___2UAuj {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.column__jHyv6 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  background: linear-gradient(#ffffff96, #ffffff96),
    url("./images/writingPad32027471920Jpg.jpg") top 50% right 30% / cover repeat scroll;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px 8px 8px 48px;
}
@media (max-width: 768px) {
  .column__jHyv6 {
    background: #ffffff96;
    padding: 20px;
  }
}
.freeBox__u8Kss {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.freeBox__u8Kss > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__u8Kss > :global(.__wab_flex-container) > *,
.freeBox__u8Kss > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__u8Kss > :global(.__wab_flex-container) > picture > img,
.freeBox__u8Kss
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h2 {
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__uG3Id {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
}
.text__uzSr8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: calc(0px + 12px) !important;
  padding-top: 0px;
  min-width: 0;
}
.text__w6Por {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  margin-bottom: 0px;
  min-width: 0;
}
.text__xwD7R {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  min-width: 0;
}
.footerTopSection {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.homeFooterTop:global(.__wab_instance) {
  position: relative;
}
@media (max-width: 768px) {
  .homeFooterTop:global(.__wab_instance) {
    position: relative;
  }
}
.footerMain:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
