.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  min-width: 0;
  padding: 64px;
}
@media (max-width: 768px) {
  .root {
    padding: 40px;
  }
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
  max-width: 1380px;
  align-self: center;
  flex-wrap: nowrap;
  align-content: stretch;
  min-width: 0;
  padding: 8px;
}
.rowWrapper {
  display: flex;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  max-width: 1380px;
  flex-grow: 0;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 8px;
}
.rowWrapper > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  --plsmc-rc-col-gap: 20px;
}
.rowWrapper > :global(.__wab_flex-container) > *,
.rowWrapper > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.rowWrapper > :global(.__wab_flex-container) > picture > img,
.rowWrapper
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.rowWrapper > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
@media (max-width: 768px) {
  .rowWrapper {
    flex-direction: row;
  }
}
@media (max-width: 768px) {
  .rowWrapper > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 768px) {
  .rowWrapper > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.colmn1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__m9WjK {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
}
.text__wwIWo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  padding-right: 0px;
  left: auto;
  top: auto;
  padding-bottom: 0px;
  min-width: 0;
}
.colmn2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__vKmbh {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
}
.link__kT6Oc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 556px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__jVsdY {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__pqvQp {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--token-a9Bt38K3R3bR);
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__txxz1 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__b5Kuy {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn22 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__pW70T {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-bottom: 12px;
}
.link__g3Cjh {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 556px;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link___6RKA {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: flex-start;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__nhat9 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link___8C0Xs {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.link__em3Vn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #535353;
  line-height: 1.6;
  width: 100%;
  height: auto;
  max-width: 800px;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px 0px 7px;
}
.colmn3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.h3__jTm3C {
  position: relative;
  left: auto;
  top: auto;
  margin-bottom: 12px;
}
.text__qcsfN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-top: 0px;
  min-width: 0;
}
.link__ktpXo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 6px;
  padding-bottom: 0px;
  color: var(--token-a9Bt38K3R3bR);
  min-width: 0;
}
.link__zDjCi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 12px;
  color: var(--token-a9Bt38K3R3bR);
  min-width: 0;
}
